Source: usb-autorunner-dev
Section: unknown
Priority: optional
Maintainer: Mekom Solutions <support@mekomsolutions.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://github.com/mekomsolutions/usb-autorunner

Package: usb-autorunner-dev
Architecture: all
Depends: ${misc:Depends}, zip, openssl
Description: USB autorunner dev tools
  A set of tools to generate packages to be executed by usb-autorunner
